# maven ignore
target/
*.war
*.zip
*.tar
*.tar.gz
*.xml.versionsBackup
workspace.xml

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.doc
*.log
*.requestCache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
